/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-size: 62.5%;// 1rem == 10px
    font-family: sans-serif;
}

html{
    background-color: #DDDDDD;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
