.container{
    width: 100%;
    padding-bottom: 2rem;


    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading{
        padding: 1rem;

    }

    &-control{
        width: 100%;
        
        mat-form-field{
            width: 100%;
        }
    }


}